
workspace/QueueManagement/Statistics.txt
*.cache
ElectronicStudentRecordManagementSystem/.idea/inspectionProfiles/Project_Default.xml
ElectronicStudentRecordManagementSystem/.idea/misc.xml
ElectronicStudentRecordManagementSystem/.idea/modules.xml
ElectronicStudentRecordManagementSystem/.idea/php-test-framework.xml
ElectronicStudentRecordManagementSystem/.idea/php.xml
ElectronicStudentRecordManagementSystem/.idea/vcs.xml
ElectronicStudentRecordManagementSystem/.idea/workspace.xml
ElectronicStudentRecordManagementSystem/code/.idea/code.iml
ElectronicStudentRecordManagementSystem/code/.idea/inspectionProfiles/Project_Default.xml
ElectronicStudentRecordManagementSystem/code/.idea/misc.xml
ElectronicStudentRecordManagementSystem/code/.idea/modules.xml
ElectronicStudentRecordManagementSystem/code/.idea/php.xml
ElectronicStudentRecordManagementSystem/code/.idea/sqldialects.xml
ElectronicStudentRecordManagementSystem/code/.idea/vcs.xml
ElectronicStudentRecordManagementSystem/code/.idea/workspace.xml
ElectronicStudentRecordManagementSystem/code/COMPOSER/vendor/autoload.php
ElectronicStudentRecordManagementSystem/code/COMPOSER/vendor/composer/autoload_classmap.php
ElectronicStudentRecordManagementSystem/code/COMPOSER/vendor/composer/autoload_files.php
ElectronicStudentRecordManagementSystem/code/COMPOSER/vendor/composer/autoload_namespaces.php
ElectronicStudentRecordManagementSystem/code/COMPOSER/vendor/composer/autoload_psr4.php
ElectronicStudentRecordManagementSystem/code/COMPOSER/vendor/composer/autoload_real.php
ElectronicStudentRecordManagementSystem/code/COMPOSER/vendor/composer/autoload_static.php
ElectronicStudentRecordManagementSystem/code/COMPOSER/vendor/composer/ClassLoader.php
ElectronicStudentRecordManagementSystem/code/COMPOSER/vendor/composer/installed.json
ElectronicStudentRecordManagementSystem/code/COMPOSER/vendor/composer/LICENSE
ElectronicStudentRecordManagementSystem/.idea/
ElectronicStudentRecordManagementSystem/code/COMPOSER/vendor/composer/autoload_real.php
ElectronicStudentRecordManagementSystem/code/COMPOSER/vendor/composer/autoload_real.php
**/COMPOSER/*
