.form-control{
    margin-bottom:10px;
    width:30%;
    margin-left:auto;
    margin-right:auto;
}

/* LOGIN */
.btn.btn-lg.btn-primary.btn-block.login{
    margin-bottom:10px;
    width:30%;
    margin-left:auto;
    margin-right:auto;
}

/* NAVBAR */
.navbar {
    min-height: 10vh;
    position: relative;
    top: 0;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.td_resized_sendmail{
    width: 20px;
}
.table.table-striped.sendmail{
    font-size:20px;
}

.navbar-toggle {
/* (80px - button height 34px) / 2 = 23px */
margin-top: 23px;
padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}

.table.sendmail{
    font-size:20px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #000000;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left:auto;
    margin-right:auto;
  }
.badge-yellow {
    background-color: rgb(255, 255, 181);
    border: solid black 1px;
    color: black;
}
.badge-white{
    background-color: white;
    color:black;
    border: solid black 1px;
}

  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.logo{
    padding-top: 0px;
    height: 80px;
    width: 80px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 640px}

/* Set gray background color and 100% height */
.sidenav {
padding-top: 20px;
background-color: #f1f1f1;
height: 100%;
}

/* Set black background color, white text and some padding */
footer {
background-color: #555;
color: white;
padding: 1.75vh;
min-height:5vh;
width:100%;
margin-top:auto;
margin-bottom: 0 auto;
bottom:0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
    height: auto;
    padding: 15px;
}

.row.content {height:auto;}
}

/* View marks*/
.hiddenRow.legend{
    padding: 0;
}

.hiddenRow.marks{
    padding: 0;
    border: 0;
}

.visibleRowMarks:hover{
    filter: brightness(90%);
    cursor: pointer;
}

body{
    margin:0;
}

/* Enroll students */
div.centralDiv {
    height: auto;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    padding-top: 5px;
    padding-bottom: 35px;
    background-color: #ebebeb;
}

div.centralDiv * {
    text-align: center;
}

table.enrollTable {
    border-collapse: collapse;
    border-spacing: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:auto; 
    margin-right:auto;
}

table.enrollTable td {
    padding: 10px;
}

h1.enrollTitle {
    padding: 30px;
    background: #004e98;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}

#homepageAdmin {
    background-color: #004e98; 
    color: white;
    font-size: 14px;
    padding: 12px 23px;
    border-radius: 12px;
    -webkit-transition-duration: 0.2s;   /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.info {
    font-size: 18px;
    color: white;
    background: #3a6ea5;
}

#enrollMessage {
	padding: 20px;
	font-size: 20px;
}

#rowParent2 {
    cursor: pointer;
}