.form-control{
    margin-bottom:10px;
    width:30%;
    margin-left:auto;
    margin-right:auto;
}

/* LOGIN */
.btn.btn-lg.btn-primary.btn-block.login{
    margin-bottom:10px;
    width:30%;
    margin-left:auto;
    margin-right:auto;
}

/* NAVBAR */
.navbar {
    min-height: 10vh;
    position: relative;
    top: 0;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.td_resized_sendmail{
    width: 20px;
}
.table.table-striped.sendmail{
    font-size:20px;
}

.navbar-toggle {
/* (80px - button height 34px) / 2 = 23px */
margin-top: 23px;
padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}

.logo{
    padding-top: 0px;
    height: 80px;
    width: 80px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 640px}

/* Set gray background color and 100% height */
.sidenav {
padding-top: 20px;
background-color: #f1f1f1;
height: 100%;
}

/* Set black background color, white text and some padding */
footer {
background-color: #555;
color: white;
padding: 1.75vh;
min-height:5vh;
width:100%;
margin-top:auto;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
    height: auto;
    padding: 15px;
}

.row.content {height:auto;}
}

/* View marks*/
.hiddenRow.marks{
    padding: 0;
}

/*to be checked*/
.visibleRowMarks:hover{
    filter: brightness(90%);
    cursor: pointer;
}

body{
    margin:0;
}

/* Enroll students */
div.enrollDiv {
    height: auto;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    padding-top: 5px;
    padding-bottom: 35px;
    background-color: #f1f1f1;
}

div.enrollDiv * {
    text-align: center;
}

table#enrollTable {
    border-collapse: collapse;
    border-spacing: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:auto; 
    margin-right:auto;
    
}

table#enrollTable td {
    padding: 10px;
}

h1.enrollTitle {
    padding: 30px;
    background: rgba(95, 95, 95, 0.7);
    margin-left: 100px;
    margin-right: 100px;
}

.pulsante {
    background-color: rgba(95, 95, 95); 
    color: white;
    font-size: 16px;
    padding: 14px 40px;
    margin: 7px;
    border-radius: 12px;
    -webkit-transition-duration: 0.2s;   /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.pulsante:hover, #enrollCancel:hover {
    background-color: rgba(95, 95, 95, 0.6); 
    color: white;
}

#enrollCancel {
    background-color: rgba(95, 95, 95); 
    color: white;
    font-size: 14px;
    padding: 12px 23px;
    border-radius: 12px;
    -webkit-transition-duration: 0.2s;   /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.info {
    font-size: 18px;
    background: rgba(95, 95, 95, 0.7);
}

#enrollMessage {
	padding: 20px;
	font-size: 20px;
}